@tailwind base;
@tailwind components;
@tailwind utilities;


.glass-grid{
   background-image: 
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 1px,transparent 1px);
    background-size: 55px 55px;
      
}